apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ argocd_app_of_apps_name }}"
  namespace: "{{ argocd_namespace }}"
spec:
  project: "{{ argocd_apps_project }}"
  source:
    repoURL: "{{ argocd_apps_repo_url }}"
    targetRevision: "{{ argocd_apps_target_revision }}"
    path: "{{ argocd_apps_path }}"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
