---
- name: Configure Kubernetes Control Plane
  hosts: control_plane
  become: true
  roles:
    - k8s_cp

- name: Configure Kubernetes Worker Nodes
  hosts: workers
  become: true
  roles:
    - k8s_worker
