---
- name: Configure Kubernetes Control Plane
  hosts: control_plane
  become: true
  vars_files:
    - inventories/vault.yml
  roles:
    - k8s_cp
    - helm
    - local_storage

- name: Configure Kubernetes Worker Nodes
  hosts: workers
  become: true
  vars_files:
    - inventories/vault.yml
  roles:
    - k8s_worker

- name: Install ArgoCD
  hosts: control_plane
  become: true
  vars_files:
    - inventories/vault.yml
  roles:
    - argocd

- name: Install GitLab
  hosts: control_plane
  become: true
  vars_files:
    - inventories/vault.yml
  roles:
    - gitlab